<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Todos/Todos.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body ng-app="todoApp" ng-controller="todoCtrl">
    {{message}}

    <table>
        <tr>
            <th>Id</th>
            <th>To do</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="n in nums track by $index">
            <th>{{$index+1}}</th>
            <th>{{n.Todo}}</th>
            <th><a href="#" ng-click="delete(n.Id)">Delete</a></th>
        </tr>
    </table>

    <textarea ng-model="myTextarea"></textarea>
    <button ng-click="addTodo(myTextarea)">Add todo</button>

    <button ng-click="getTodos()">get</button>
</body>
</html> 