<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Todos/Todos.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body ng-app="todoApp" ng-controller="todoCtrl">

    <table>
        <tr>
            <th></th>
            <th>Order</th>
            <th>To do</th>
            <th></th>
            <th></th>
        </tr>

        <tr ng-repeat="t in todos | filter:searchText track by $index">

            <th>
                <input type="checkbox" ng-model="t.checked"  />
            </th>

            <th>{{$index+1}}</th>
            <th>
                <input ng-model="t.EditableTodo" ng-show="t.EditorEnabled">
                <div ng-hide="t.EditorEnabled">{{t.Todo}}</div>
            </th>
            <th><a href="#" ng-click="deleteTodo(t.Id)">Delete</a></th>
            <th>
                <div ng-hide="t.EditorEnabled">
                    {{title}}
                    <a href="#" ng-click="enableEditor($index)">Edit</a>
                </div>
                <div ng-show="t.EditorEnabled">
                    <a href="#" ng-click="updateTodo(t.EditableTodo, t.Id, $index)">Save</a>
                    or
                    <a href="#" ng-click="disableEditor($index)">cancel</a>.
                </div>
            </th>
        </tr>
    </table>

    <br />
    <button ng-click="getTodos()">Refresh Todos</button>

    <br />

    <textarea ng-model="myTextarea" placeholder="Add To Do Here"></textarea>
    <br />
    <button ng-click="addTodo(myTextarea)">Add todo</button>

    <br />
    <button ng-click="selectAllTodos()">Select All Todos</button>
    
    <br />
    <button ng-click="unselectAllTodos()">Unselect All Todos</button>

    <br />
    <button ng-click="deleteAllTodos()">Mark All Todos As Complete/Delete All Todos</button>

    <br />
    <button ng-click="deleteSelectedTodos()">Mark Selected Todos As Complete/Delete Selected Todos</button>

    <br />
    <button ng-click="addRandomTodos()">Add Random Todos</button>

    <br />
    <label>Search: <input ng-model="searchText"></label>
</body>
</html> 